body {
  font-family: "DM Sans", "poppins", "volkhov";
  color: #000;
  background-color: #f2f2ff;
}

.error {
    color: red;
}

.success {
  color: green;

}

.profile-banner {
  display: block;
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: center;
}

.profile-picture-wrapper {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-bio-wrapper {
  min-height: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-username {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 3px;
}

.profile-about-container {
  margin: 0 auto;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 1.125rem;
  padding: 1em 1.5em;
  text-align: center;
  line-height: 1.3;
  min-height: 220px;
  width: 85%;
  max-width: 500px;
  min-width: 400px;
  position: relative;
  top: -25px;

}