.container-listview {
    margin-top: 5em; /*Test*/
}

/* =================
   Search Bar
  ================= */
.container-search {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #21262B;
    border: 1px solid #4A545C;
}

.input-search {
    display: block;
    width: 100%;
    background: none;
    border: none;
    font-size: 20px;
    height: 20px;
    padding: 0;
    color: inherit;
}

.input-search::placeholder,
.icon-search {
    color: #4A545C;
}

.input-search:focus,
.input-search:active {
    outline: none;
}

/* =================
    Main Content
  ================= */

.listview {
    min-height: 350px;
    background-color: #353C43;
}

.container-listview-sorter {
    border: 1px #D0D0CE solid;
    background-color: #21262B;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    font-size: .8rem;
}

.listview-sorters {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 0 .5em 5em;
    vertical-align: middle;
}

.listview-sorter {
    cursor: pointer;
}

.listview-post {
    border-bottom: 1px #D0D0CE solid;
}

.listview-post-items {
    font-size: .8rem;
    width: 85%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 5.2em;
}

.listview-item,
.listview-sorter {
    width: 100px;
}

.listview-item {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #EAF0F7;
}

.listview-post-icons {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    width: 10%;
    color: #fff;
}

.listview-icon {
    background-color: rgba(139, 44, 255,.5);
    padding: 3px 9px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

@media (max-width: 761px ) {
    .listview-sorters,
    .listview-post-items {
        padding-left: 2em;
    }
}


/* =================
        Modals
  ================= */
  
.listview-modal .modal-content {
    background-color: #21262B;
    border: none;
}

.listview-modal .modal-header,
.listview-modal .modal-footer {
    border: none;
}

.listview-btn {
    background-color:rgba(139, 44, 255,.5);
    border: none;
    border-radius: 5px;
    padding: 0.3em 0.7em;
    color: #fff;
}

.listview-update-row {
    display: flex;
    justify-content: space-between;
}

.listview-update-caption {
    width: 100%;
    border-radius: 5px;
    padding: .3em .4em;
    border: none;
}

.listview-update-location {
    width: 43%;
}

.listview-update-caption,
.listview-update-location {
    border-radius: 5px;
    padding: .3em .4em;
    border: none;
}

