.expcreate-row {
    margin-bottom: 100px;
}

.expcreate-img-header {
    font-size: 1.5rem;
    font-weight: 700;
}

.expcreate-reset {
    text-decoration: underline;
    cursor: pointer;
}

.expcreate-form {
    width: 100%;
    width: 400px;
    margin: 0 auto;
    display: grid;
}

.expcreate-text-count {
    color: #828282; 
    text-align: right;
    margin: 0;
 }


.experience-text-input input[type="text"],
.experience-text-area textarea,
.expcreate-row label,
.expcreate-country,
.expcreate-region,
.expcreate-btn {
    display: block;
}

.experience-text-input input[type="text"],
.experience-text-area textarea,
.expcreate-country,
.expcreate-region {
    border-radius: 6px;
    box-shadow: 0px 0px 15px 0px #84848440;
    border: none;
    padding: 0.4em;
    margin-bottom: 5px;
}

.expcreate-country,
.expcreate-region {
    background-color: #fff;
}

.expcreate-country,
.expcreate-region,
.experience-text-area textarea,
.experience-text-input input[type="text"] {
    width: 400px;
}

.experience-text-area textarea {
    resize: none;
    height: 100px;
}

.experience-text-area-length {
    text-align: right;
    color: #828282; 
    margin: 0;
}

.expcreate-row label,
.expcreate-btn {
    font-weight: 700;
    font-size: 1rem;
}

.experience-rating {
    width: 150px;
}

.expcreate-btn {
    background-color: #5d17b0;
    border: none;
    color: #fff;
    padding: 0.4em 2.5em;
    letter-spacing: 1px;
    border-radius: 5px;
    margin: 15px auto;
}


.expcreate-destination-inputs,
.expcreate-hotel-inputs,
.expcreate-restaurant-inputs,
.expcreate-attraction-textinputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.experience-footer {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    row-gap: 15px;
}

/*At bootstrap XL breakpoint*/
@media(min-width: 1200px) {
    .expcreate-inputs {
        width: 800px;
    }
    .expcreate-form {
        width: 100%;
        display: grid;
        grid-template-columns: 395px 395px; 
        justify-content: space-between;     
        align-items: start;   
        gap: 5px;
    }

    .experience-text-input input[type="text"],
    .experience-text-area textarea,
    .expcreate-country,
    .expcreate-region {
        width: 100%;
        margin: 0;
    }

    .expcreate-destination-inputs,
    .expcreate-attraction-textinputs{
        height: 124px;
    }

    .expcreate-hotel-inputs,
    .expcreate-restaurant-inputs,
    .experience-footer {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .expcreate-hotel-inputs,
    .expcreate-restaurant-inputs {
        grid-column: 1 / -1 ;  
    }

    .expcreate-hotel-inputs > * {
        width: 395px;
    }

    .expcreate-restaurant-inputs > *{
        width: 260px;
    }

    .expcreate-attraction-inputs {
        grid-column: 1 / -1;
    }
    
    .experience-footer {
        flex-wrap: nowrap;
        flex-direction: row;
        grid-column: 1/-1;
        justify-content: space-between;
        align-items: flex-end;
    }
  
    .expcreate-btn {
        margin: 0;
    }
}