.hoteldetail-datepicker{
    border: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.24);
    border-radius: 4px;
    padding: 0.4em 1.1em;
    font-size: 1rem;
    color: #9a9a9a;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.hotelsearch-datepicker {
    width: 100%;
    display: block;
    font-size: inherit;
    border: 1px #A1A1A1 solid;
    border-radius: 3px;
    height: 40px;
    padding: 0 0.5rem;
    background: transparent;
}

.hoteldetail-datepicker,
.hotelsearch-datepicker {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

