.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.avatar img {
    display: block;
    width: 100%;
    text-align: center;
}

.avatar svg {
    display: block;
    color: #fff;
    width: 70%;
    height: 70%;
}

.avatar-wrapper {
    overflow: hidden;
    border-radius: 50%;
    width: fit-content
}

