.home-section-header {
    font-weight: 700;
    font-size: 2.625rem;
    max-width: 1465px;

}

.home-image {
    display: block;
    object-fit: fill;
    object-position: center;
    width: 100%;
}

.image-wrapper {
    /* background-color: firebrick; */
    width: 100%;
    /* height: 360px; */
    margin-bottom: 10px;
}


/* =================
        Popular 
        Destinations
  ================= */
.popular-destination {
    width: 275px;
    margin: 0 auto;
}

.dest-image {
    height: 360px;
    border-radius: 10px;
}

.dest-location-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dest-name {
    font-weight: 400;
    font-size: 1.25rem;
}

.dest-location {
    color: #6A6A6A;
}

/* =================
        Travel
        Packages
  ================= */

.popular-package {
    width: 350px;
}
.package-image {
    height: 290px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.package-info {
    padding: 1em;
    background-color: #fff;
    color: #000;
    border-radius: 0px 0px 10px 10px;
}

.package-location {
    font-size: 1.775rem;
    margin: 0;
    margin-bottom: 5px;
}

.package-desc {
    margin-top: 5px;
    color: #6A6A6A;
    line-height: 1.4;
    font-size: 0.975rem; 
}


.package-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-wrapper {
    display: inline-flex;
    font-size: 1.25rem;
    align-items: center;    
    gap: 3px;
}

.price {
    font-size: 2.45rem;
    color: #FF6B6B;
}

.package-rating {
    margin-left: -3px;
}

.package-details-btn {
    padding: .4em 1.5em;
    color: #fff;
    font-weight: 600;
    background-color: #3C3A83;
    border-radius: 8px;
    text-decoration: none;
}

a.package-details-btn {
    color: #fff;
}

.popular-users {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: nowrap; */
    gap: 25px;
    overflow-x: scroll;
}


@media(min-width: 992px) {
    .popular-users::-webkit-scrollbar{
        display: none;
    }
}

.btn-scroll {
    display: block;
    padding: 1em 0;
    background-color: inherit;
    color: inherit;
    border: none;
    border-radius: 5px;
}

.btn-scroll:focus,
.btn-scroll:hover {
    background-color: rgba(52, 52, 52, 0.2);
}
