/* =================
    Banner Section
  ================= */
.profile-banner {
    display: block;
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
}

.profile-about {
    background-color: #2a2a2a;
    width: 90%;
    max-width: 750px;
    min-height: 230px;
    border-radius: 20px;
    margin: 175px auto 75px;
    font-size: 28px;
    padding: 1.5em;
    text-align: center;
    line-height: 1.3;
}

.container-profile-picture {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}

.profile-picture {
    width: 100%;
    border-radius: 50%;
}

/* =================
    Places Visited
        Section
  ================= */
.places-visited-heading {
    font-weight: 700;
    font-size: 3rem;
}

.places-visited-subheading {
    color: #404040;
    font-weight: 500;
    font-family: 'Urbanist';
}


/* =================
    Profile Posts 
        Section
  ================= */
.profile-post-header {
    text-transform: uppercase;
    color:#8B2CFF;
    font-size: 1.5rem;
}

.profile-post-header img {
    margin-right: 8px;
}

.profile-post-line {
    width: 140px;
    height: 6px;
    border-radius: 500px;
    background-color: #8B2CFF;
}
