body {
    background-image: none;
    background-color: #1E1E1E;
    font-family: 'DM Sans', sans-serif; /*probably should add this in index.css*/
    color: #fff;
}

/* =================
    Banner Section
  ================= */
.profile-banner {
    display: block;
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
}

.profile-info-wrapper {
    margin: 110px auto 0;
    width: 85%;
    max-width: 650px;
    min-width: 400px;
}

.profile-username {
    text-align: center;
    font-weight: 700;
    font-size: 2.25rem;
}

.profile-about {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2a2a2a;
    border-radius: 20px;
    font-size: 1.375rem;
    padding: 1.5em;
    text-align: center;
    line-height: 1.3;
    min-height: 250px;
}

.container-profile-picture {
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%);
}

.profile-row {
    max-width: 1050px;
    margin: 50px auto; 
}

/* =================
    Places Visited
        Section
  ================= */

.places-visited-headings {
    padding-left: 22px;
}
.places-visited-heading {
    font-weight: 700;
    font-size: 2.5rem;
}

.places-visited-subheading {
    color: #404040;
    font-weight: 500;
    font-family: 'Urbanist';
    font-size: 1.2rem;
}

.profile-visited {
    display: "block";
    height: 275px;
    width: 325px;
    border-radius: 8px;
    object-fit: "fill";

}

.profile-visited-name {
    width: 100% ;
    max-width: 320px ;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.profile-visited-rating {
    width: 100%;
    max-width: 320px;
}

/* =================
    Profile Posts 
        Section
  ================= */
.profile-post-header {
    text-transform: uppercase;
    color:#8B2CFF;
    font-size: 1.5rem;
}

.profile-post-header img {
    margin-right: 8px;
}

.profile-post-line {
    width: 140px;
    height: 6px;
    border-radius: 500px;
    background-color: #8B2CFF;
}

.profile-post-wrapper {
    width: 240px; 
    height: 240px;
}


.profile-post-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit:"cover";
    border-radius: 9px;
}