/* =================
    Banner Section
  ================= */
.profile-banner {
    display: block;
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
}

.profile-picture-wrapper {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-username {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 3px;
}

.profile-about {
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    padding: 1.5em;
    text-align: center;
    line-height: 1.3;
    min-height: 220px;
    width: 85%;
    max-width: 500px;
    min-width: 400px;
    position: relative;
    top: -25px;
}



.profile-visited-row {
    max-width: 1050px;
    margin: 50px auto; 
}


/* =================
    Places Visited
        Section
  ================= */

.profile-posts-row {
    max-width: 1050px;
    width: 80%;
}

.places-visited-heading {
    font-weight: 700;
    font-size: 2rem;
}

.places-visited-subheading {
    color: #404040;
    font-weight: 500;
    font-family: 'Urbanist';
    font-size: 1rem;
}

.profile-visited {
    display: "block";
    height: 250px;
    width: 300px;
    border-radius: 8px;
    object-fit: "fill";

}

.profile-visited-name {
    width: 100% ;
    max-width: 320px ;
    font-size: 1.375rem;
    font-weight: 700;
    margin: 0;
}

.profile-visited-rating {
    width: 100%;
    max-width: 320px;
}

@media(min-width: 1200px) {
    .places-visited-headings {
        padding-left: 60px;
    }
}

/* =================
    Profile Posts 
        Section
  ================= */
.profile-post-header {
    text-transform: uppercase;
    color:#8B2CFF;
    font-size: 1.25rem;
}

.profile-post-header img {
    margin-right: 8px;
}

.profile-post-line {
    width: 140px;
    height: 6px;
    border-radius: 500px;
    background-color: #8B2CFF;
}

.profile-post-wrapper {
    width: 200px; 
    height: 200px;
}


.profile-post-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit:"cover";
    border-radius: 9px;
}