main.help {
    background: url('../../images/pexels-james-wheeler-1486974\ 1.jpg') no-repeat bottom center fixed;
    background-size: cover;
    font-family: 'DM Sans', sans-serif;
    color: #fff;
    /*Prevent Scrolling by calculating remaining height based off fixed nav height*/
    height: calc(100vh - 75px); 
}

a.help-link {
    text-decoration: none;
    color: inherit;
}

a.help-link:hover {
    color: inherit;
    opacity: .8;
}

.container-help {
    padding-top: 100px;
    text-align: center;
}

.container-help h1 {
    font-size: 3rem;
    margin: 0;
    font-weight: 400;
}

.container-help h2,
.help-links {
    font-size: 2rem;
    width: auto;
} 

.help-links,
.help-intro {
    font-size: 1.875rem;
    width: 95%;
    min-width: 400px;
    max-width: 550px;
    margin: 0 auto;
}

.help-links {
    background-color: rgba(0, 0, 0, .53);
    min-height: 225px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.help-link {
    display: block;
}