.macbook-pro {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .macbook-pro .iphone-pro-max {
    background-color: #ffffff;
    width: 100%;
  }
  
  .macbook-pro .group {
    background-size: 100% 100%;
    width: 100%;
  }
  
  .macbook-pro .title {
    position: relative;
  }
  
  .macbook-pro .text-wrapper-40 {
    color: #ffffff;
    font-family: "DM Sans", Helvetica;
    font-size: 70px;
    font-weight: 700;
    left: 0;
    letter-spacing: 3.5px;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  