.container-search-image { 
    position: relative;
    z-index: -1;
}

.intro-img {
    display: block;
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.intro-text {
    position: absolute;
    top: 38%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    font-size: 3rem;
    letter-spacing: 3px;
    font-weight: 700;
    text-transform: capitalize;
    color: #fff;
   justify-content: center;
}

/*Search Form*/
.search-form-row {
    display: flex;
    align-items: center;
    margin-top: -200px;
}

.search-form {
    font-family: "Poppins", "DM-sans",sans-serif;
    width: 100%;
    min-width: 400px;
    max-width: 1100px;
    max-height: 400px; 
    color: #333;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 13px;
    padding: 2em 2.5em;
    box-shadow: 0px 16px 40px 0px rgba(0,0,0,0.25);
    gap: 7px;
    font-size: 1rem;
}

.search-form label {
    display: block;
    font-weight: 600;
    font-size: 0.875rem;
}

.search-form label,
.search-description {
    margin: 0;
    /* padding-left: 1px; */
}

.search-form input,
.search-form select {
    border: 1px #A1A1A1 solid;
    border-radius: 3px;
    width: 100%;
    height: 40px;
    padding: 0 0.5rem;
    background: transparent;
}

.search-form button[type="submit"] {
    display: block;
    color: #fff;
    border: none;
    border-radius: 8px;
    width: 100%;
    padding: 0.5em;
    font-weight: 600;
    background-color: #5d17b0;
    
    font-size: 1rem;

}

.search-location-wrapper input[type="text"]::placeholder, 
.search-description {
    color: #A1A1A1;
}

.search-date {
    /* text-transform: uppercase; */
    /* letter-spacing: 1px; */
    /* cursor: pointer;  */
}
.search-date-wrapper > div.react-datepicker-wrapper, 
.search-date-wrapper > div > div.react-datepicker__input-container
.search-date-wrapper > div > div.react-datepicker__input-container input {
   width: 100%;
}

@media(min-width: 992px) {
    .intro-text {
        font-size: 3.5rem;
    }
    .search-form-row {
        margin-top: -100px;
    }
    .search-form {
        gap: 15px;
        height: 115px;
        align-items: flex-end;
    }
    .search-location-wrapper {
        max-width: 275px;
    }
    .search-date-wrapper,
    .search-amount-wrapper {
        width: 150px;
    }
    .search-amount-wrapper, 
    .search-date-wrapper,
    .search-location-wrapper {
        height: 60px;
    }
    
    .search-form button[type="submit"] {
        margin-left: auto;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        align-self: flex-end;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 auto;
    }
}


.search-results-container {
    gap: 10px;
    flex-wrap: wrap;
    max-width: 1050px;
    margin-right: auto;
}

.search-filter-container {
    width: 100%;
    max-width: 330px;
    margin: 0 auto;
    font-size: 1.125rem;
    color: #343434;
}

@media(min-width: 992px) {
    .search-filter-container {
        /* max-width: 320px; */
        margin-right: 0;
    }
}

.filter-header {
    font-weight: 700;
}

.search-filter-sorting,
.search-filter-rating {
    width: 95%;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 25px;

}

@media(min-width: 1400px) {
    .search-filter-sorting,
    .search-filter-rating {
        margin-right: 0;
    }
}

.search-filter-sorter {
    width: 95%;
    min-width: 210px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.search-filter-sorter input[type="checkbox"] {
    margin-left: auto;
}

.container-result {
    display: block;
    text-decoration: none;
    width: 325px;
    height: 310px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #fff;
    font-size: 1rem;
    text-decoration: none;
}

.container-result-img {
    width: 100%;
    height: 215px;
}

.result-img {
    display: block;
    height: 215px;
    width: 100%;
    object-fit: cover;
}

.result-footer { /*Maybe remove*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
    padding: 0.6em 1em;
}

.result-title {
    color: #000;
    font-size: inherit;
    margin: 0;
}

.result-price {
    color: #3C3A83;
    font-size: 1.375rem;
    margin-bottom: 0;
}

.result-title,
.result-price {
    text-decoration: none;
}

.result-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}
